@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {
    scrollbar-width: none;
}

html {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow: scroll;
}

html::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}